# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Large/local data
data/*
!data/.gitkeep
*.csv

# Spark
spark-warehouse/
metastore_db/
derby.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log